# Защита секретного файла с ключом
credentials.json

# Игнорируем папку с зависимостями Node.js
node_modules/

# Игнорируем стандартные файлы окружения
.env
.env.local

# Игнорируем служебные файлы операционных систем
.DS_Store
Thumbs.db